@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  margin: 0;
}
.parent{
    position: relative;
}
nav {
  background-color: #6f6af7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 1.25rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.logo {
  font-family: Delius Unicase;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  padding: 10px;
  /* margin-left: 10px; */
}
.items {
  display: flex;
}
.items > ul {
  list-style: none;
  font-family: DM Sans;
  text-align: left;
  display: flex;
  padding: 10px;
}
ul > li {
  padding: 10px;
}
.search-container {
  display: flex;
  align-items: center;
  position: relative;
}
.search-bar {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  font-size: 0.7rem;
  color: #9f9f9f;
}
.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #adadad;
  font-size: 0.75rem;
}
.icon {
  padding: 1rem;
}
.section-1 {
  margin: 7.75rem 5rem;
  margin-bottom: 0px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.left {
  height:28rem;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
}
.left > img {
   
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}
.right {
  width: 60%;
  height: 28.25rem;
}
.big-text-area {
  width: 100%;
  background-color: #e5d8ff;
  height: 90%; /* Height of the text area */
  padding: 1rem; /* Padding inside the text area */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 8px; /* Rounded corners */
  font-size: 1rem; /* 16px font size */
  line-height: 1.5; /* Line height for better readability */
  resize: both; /* Allow resizing in both directions */
  color: #6f7373;
  font-family: DM Sans;
}
.section-2 {
  display: flex;
  justify-content: space-around;
  margin: auto 10rem;
  margin-bottom: 8rem;
  gap: 50px;
  color: white;
  text-align: center;
  font-family: DM Sans;
  font-weight: bold;
}
.first {
  background-color: #929dff;
  padding: 1.25rem 1rem;
  width: 20%;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #888888;
}
.second {
  background-color: #734cf2;
  padding: 1.25rem 1rem;
  width: 20%;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #888888;
}
.third {
  background-color: #d288ff;
  padding: 1.25rem 1rem;
  width: 20%;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #888888;
}
.fourth {
  background-color: #000000;
  padding: 1.25rem 1rem;
  width: 20%;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #888888;

}
.section-3 {
  background-color: #483eff;
  width: 60vw;
  height: 70vh;
  border: 1px solid ;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  vertical-align: middle;
  margin:auto;
  font-family: DM Sans;
  margin-bottom: 5rem;
}
.left-section-3{
    font-family: DM Sans;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 80%;
   
}
.button1{
    background-color: #BCE0F6;
    font-family: DM Sans;
    color: black;
    width: 10rem;
    height: 3.75rem;
    padding: 1.25rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 10px 18px #888888;
    font-size: 1rem;
}
.button2,.button3{
    width: 10rem;
    box-shadow: 5px 10px 18px #888888;
    font-family: DM Sans;
    border-radius: 10px;
    height: 3.75rem;
    padding: 1.25rem;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
}
.right-section-3{
    background-color: white;
    width: 60%;
    height: 80%;
    border-radius: 25px;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}
.right-section-3>h3{
    text-align: left;
    margin-left: 3rem;
    margin-top: 3rem;
    font-family: Inter;
}
.right-section-3 > .details{
    text-align: left;
    margin-left: 4.75rem;
    margin-top: 1rem;
    font-family: Roboto
}
.right-section-3 > .details p {
    /* Add your desired styles here */

    font-size: 18px;
    padding: 5px;
}
.btn{
    background-color: black;
    border-radius: 5px;
    height: 2rem;
    width: 5rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 22.5rem;
    left: 27rem;

}
.right-icon{
    margin-left: 0.2em;
}
.icon-img {
   position: absolute;
   left: 85rem;
   bottom: 39rem;
   right: 3rem;
}

.Frame1{
    position: sticky;
    left: 90rem;
    top: 0px;
    bottom: 15rem;
    height: 80%;
    width: 3.75rem;
}
